.timer-input {
  width: 272px;
  height: 40px;
  gap: 8px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 346px;
  height: 72px;
  gap: 24px;
}

.start-btn {
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
}
